.content {
    display: flex; 
    height: 95%;
    align-items: flex-start;    

    &__main {
        overflow: hidden;
        margin-left: 30px;
        height: 100%;
        flex: 1;
    }

    .transition-group {
        height: 100%;
        overflow: hidden;
    }
}

