@use '../abstracts/typography' as *;

.section {

    &__title {
        color: var(--clr-secondary);
        font-size: clamp(3.0rem, 7vw, 5rem);
        font-weight: 700;
        margin-bottom: 3rem;
    }

    &__subtitle {
        color: var(--clr-primary);
        font-size: clamp(2.2rem, 6vw, 4.3rem);
        font-family: $font-fira;
        font-weight: 400;
        margin-bottom: 2rem;
    }


    &__description {
        line-height: 5rem;
        font-size: clamp(1.8rem, 5vw, 3rem);
    }

}


