@use '../abstracts/typography' as *;
@use '../abstracts/breakpoints' as *;

.section {

	display: flex;
	flex-direction: column;
	justify-content: center;
    flex: 1;
    height: 30em;

    @media (min-width: map-get($breakpoints, "tablet")) {
	    display: block;
    }

    &__title {
        font-size: clamp(2.2rem, 2.5vw, 4.2rem);
        color: var(--clr-primary);
        font-family: $font-fira;
        font-weight: 400;
        margin-bottom: 2rem;
    }


    &__description {
        line-height: 5rem;
        font-size: clamp(1.8rem, 2vw, 2.7rem);
    }

}


