@use '../abstracts/typography' as *;

.section {

    &__title {
        color: var(--clr-secondary);
        font-size: clamp(2.2rem, 2.8vw, 6.5rem);
        font-weight: 700;
        margin-bottom: 3rem;
    }

    &__subtitle {
        color: var(--clr-primary);
        font-size: clamp(2.0rem, 2.0vw, 3rem);
        font-family: $font-fira;
        font-weight: 400;
        margin-bottom: 2rem;
    }


    &__description {
        line-height: 3rem;
        font-size: clamp(1.8rem, 1.4vw, 2.2rem);
    }

}


