@use '../abstracts';

.logo {
    font-family: 'Fira code';
    font-weight: 400;
    
    margin-top: 2.2rem;
    margin-left: 2.2rem;
    
    &__title {
        font-size: 2rem;
        line-height: 2;
    }

    &__subtitle {
        font-size: 1.6rem;
        color: var(--clr-primary);
    }
}
