@use '../abstracts/typography' as *;

.logo {
    font-family: $font-fira;
    font-weight: 400;

    &__title {
        padding-bottom: .5rem;
    }

    &__subtitle {
        color: var(--clr-primary);
    }
}
